<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/footer.css">
	<link rel="stylesheet" href="/css/header.css">
	<title>Document</title>
</head>

<body>
	<%-include('partials/header.ejs')%>
		<div class="container">
			<div class="row">
				<div class="perfil">
					<h2>
						<!--nombre es una propiedad que tiene session y posee el nombre de la etiqueta que usamos en la vista de registro-->
						<h2>Bienvenid@ <%= user.nombre %> </h2>
						<img src="/img/avatar/<%=user.avatar  %>">
						<h3>Correo: <%=user.email %></h3>
					</h2>
				</div>

			</div>
		</div>
		<%-include('partials/footer.ejs')%>
</body>

</html>